<form data-toggle="validator" role="form" id="editQuote">
    <div class="form-group">
        <span>
            <h3 style="margin-left: 15%;">Here you can<span class="label label-default">Print Reports</span></h3>
        </span>
        <div style="width: 70%; margin-left: auto; margin-right: auto;" class="well">
            <a data-bind="click: $root.print" target="_blank" href="#" title="Print"><i class="icon-upload"></i>Print Whatever 1</a><br/>
            <a data-bind="click: $root.print" target="_blank" href="#" title="Print"><i class="icon-upload"></i>Print Whatever 2</a><br/>
            <a data-bind="click: $root.print" target="_blank" href="#" title="Print"><i class="icon-upload"></i>Print Whatever 3</a><br/>
            <a data-bind="click: $root.print" target="_blank" href="#" title="Print"><i class="icon-upload"></i>Print Whatever 4</a><br/>
            <a data-bind="click: $root.print" target="_blank" href="#" title="Print"><i class="icon-upload"></i>Print Whatever 5</a><br/>
            <a data-bind="click: $root.print" target="_blank" href="#" title="Print"><i class="icon-upload"></i>Print Whatever 6</a><br/>

        
        </div>
    </div>
</form>
