<div class="modal-content">
    <div>
        <div style="background-color: White; padding: 20px 20px 20px 20px; width: 100%;" class="modal-body" id="myform">
            <span class="label label-default">Modify item</span>
            <table class="table table-condensed">
                
                    <tr>
                        <td>Address</td>
                        <td>
                            <input type="text" id="txtaddress" value="Building", "13 Linaria Drive, Vincent Heights""/>
                        </td>
                    </tr>

                    <tr>
                        <td>Value (R)</td>
                        <td>
                            <input type="text" id="txtvalue"  value=" R120"/>
                        </td>
                    </tr>

                    <tr>
                        <td>Rate</td>
                        <td>
                            <input type="text" id="txtRate" value=" 0.021" />
                        </td>
                    </tr>

                    <tr>
                        <td>Discounts</td>
                        <td>
                            <input type="text" id="txtDiscounts" value="Discretionary" />
                        </td>
                    </tr>

                    <tr>
                        <td>Annual Premium</td>
                        <td>
                            <input type="text"  value=" R323321" />
                        </td>
                    </tr>

                    <tr>
                        <td>Monthly Premium</td>
                        <td>
                            <input type="text" id="txtmonthlyPremium"  value=" R1020" />
                        </td>
                    </tr>

                <tr>
                    <td>Commision Content</td>
                    <td>
                        <input type="text" id="txtcommision" value="0.00"/>
                    </td>
                </tr>
                    <tr>
                    <td>Loadings</td>
                    <td>
                        
                         <div>
                            <form role="form">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" checked="true">Unoccupancy</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Construction</label>
                                </div>
                                <div class="checkbox disabled">
                                    <label>
                                        <input type="checkbox" value="" checked="true" >JHB</label>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Discounts</td>
                    <td>

                        <div>
                            <form role="form">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Gear Lock</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" checked="true">Tracker</label>
                                </div>
                                <div class="checkbox disabled">
                                    <label>
                                        <input type="checkbox" value="" >Alarm</label>
                                </div>
                            </form>
                        </div>
                       
                    </td>
                </tr>

                 
                <tr>
                    <td>
                        <button type="button" class="btn btn-default navbar-btn" data-bind="click: $root.close" style="margin-left: 68%;">Save</button>

                    </td>
                    <td>
                        <button type="button" class="btn btn-default navbar-btn" data-bind="click: $root.close" style="margin-left: 68%;">Cancel</button>

                    </td>
                </tr>
            </table>
        </div>
    </div>


</div>
