<div>
     <span> <h3 style="margin-left: 15%;">Here you can<span class="label label-default">Manage user accounts</span></h3></span>
    <div>
        <a type="submit" class="btn btn-default navbar-btn" style="margin-left: 75%;" data-bind="attr: { href: '#/newUser' } ">Add new user</a>
        <!-- <div class="well">-->
        <table class="table table-condensed" style="width: 70%; margin-left: auto; margin-right: auto">
            <thead class="headerText">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: users">
            <tr>
                <td data-bind="text: FirstName"></td>
                <td data-bind="text: LastName"></td>
                <td data-bind="text: RoleName"></td>
                <td>
                    <!--<a data-bind="click: $root.sendUserId" href="#" title="Assign Role"><i class="icon-upload">Assign Role</i> </a> &#124;-->
                    <a href="#"><i class="divider"></i> </a>
                        <a data-bind="click: $root.manageUser" href="#" title="Remove"><i class="icon-upload">Manage User</i> </a>&#124;
                    <a data-bind="click: $root.removeUser" href="#" title="Remove"><i class="icon-upload">Remove</i> </a>
                 
                </td>
            </tr>
            </tbody>
        </table>
        <!--<a type="submit" class="btn btn-default navbar-btn" style="margin-left: 75%;" data-bind="attr: { href: '#/newRole' } ">Create new role</a>-->
        <!--</div>-->
    </div>
</div>

