<form data-toggle="validator" role="form" id="newCommision">
    <div>
        <span style="margin-left: 15%;" class="label label-default">Add new commision</span>
        <div style="width: 70%; margin-left: auto; margin-right: auto;" class="well">
            <div>
                <table class="table table-condensed">

                    <tr>
                        <td>Commision Description</td>
                        <td>
                            <div class="row">
                                <div class="col-md-8">
                                    <textarea class="form-control" id="txtCommisionDescription" data-bind="value: CommisionDescription"></textarea>
                                </div>
                            </div>
                        </td>
                    </tr>

                     <tr>
                        <td>Commision Value</td>
                        <td>
                            <div class="row">
                                <div class="col-md-4">
                                    <input class="form-control" onkeyup=" this.value = this.value.replace(/[^0-9.]/g, '') " id="txCommisionnValue" data-bind="value: CommisionValue"/>
                                </div>
                            </div>
                        </td>
                    </tr>

                </table>
                <div>
                    <button type="button" class="btn btn-success" data-bind="click: save">Save</button>
                    <button type="button" class="btn btn-warning" data-bind="click: close">Cancel</button>
                </div>
            </div>
            <br />

        </div>
    </div>
</form>
