<div>
    <div>
        <span class="label label-default">New user</span>
            <div class="well">

                <table class="table table-condensed">
                    <tbody>

                        <tr>
                            <td>Role Description</td>
                            <td>
                                <input type="text" data-bind='value: roleName' />
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                <button type="button" class="btn btn-success" data-bind="click: save">Save</button>

                            </td>
                            <td>
                                <button type="button" class="btn btn-warning" data-bind="click: close">Cancel</button>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
    </div>
</div>

